h3 {
    color:black;
    font-family: 'Lacquer', sans-serif;
    background-color: white;
    margin-bottom: 10px;
    height: 64px;
    width: 200px;
    text-align: center;
}

.gameScore {
    width: 200px;
    margin: 0 auto;
}