* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background-image: url("../src/public/img/recessbg.webp");
}

.card {
  width: 160px;
  height: 160px;
  display: inline-block;
}

.card-wrapper {
  width: 580px;
}
