* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body, #root {
  align-content: center;
  padding-top: auto;
  padding-left: auto;
  padding-right: auto;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

body {
  background-image: url("img/recess.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card {
  width: 160px;
  height: 160px;
  display: inline-block;
}

.card-wrapper {
  width: 580px;
  margin: 0 auto;
}
